body{
  margin:0;
  background-color:indigo;
}
nav{
  height:80px;
  background-color: indigo;
}
h1{
  margin:0;
  text-align: center;
  font-size: 3.7rem;
  color: violet;
  font-family: 'Sansita Swashed', cursive;
}

h5{
  color: orange;
  display: inline-block;
  margin-right: 20px;
}
.sec1{
  margin: 0px auto 5px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: indigo;

}
.slidecontainer{
  display: inline-block;
}
h4{
  display: inline-block;
  color: white;

}
#genarray{
  color: yellow;
}
.visuals{
  margin: auto;
  height:70vh;
  display: flex;
  justify-content: center;
  background-color: #FAB4E2;
  flex-direction: row;
}
.ev{
  display: inline-block;
  margin:1.5px;
   border: 1px solid black;
  transform: rotateX(180deg);
  transform-origin: top;
  box-shadow: 3px 0px 4px;
  border-radius: 0px 0px 3px 3px;
  margin-top: 528px;
}
#unsorted,#sorted,#left,#right,#current{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 3px 3px 3px 3px;
}
#unsorted{
  background-color: #0d1137;
}
#sorted{
  background-color: #e52165;
}
#legend{
  display: none;
  justify-content: center;
  margin: 5px auto 5px auto;
}
#left{
  background-color: orange;
}
#right{
  background-color: yellow;
}
#current{
  background-color: turquoise;
}

footer{
  width: 100%;
  color: grey;
  text-align: center;
  margin: 5px auto 0px auto;
}
@media
